* {
  padding: 10px;
  margin: 20px;
  box-sizing: border-box;
  background-color: rgb(165, 175, 156);
  border-radius: 6px;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
}
.drop{
  display: grid;
  background-color: rgb(167, 104, 104);
}
@media only screen and (max-width: 700px) {
  *{
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: lightblue;
  }
  .hero{
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .hero input{
    width: 86%;
    height: 60%;
  }
  .hero button{
    width: 86%;
    height: 60%;
  }
}